html,
body {
  overflow-x: hidden;
}

.Ps-Vector-img {
  width: 697px;
  height: 652.987px;
  fill: rgba(184, 234, 203, 0.2);
}

.Ps-Gate {
  background-color: #f7fdf9;
  margin-left: -120px;
}

.Ps-Serivce {
  display: flex;
  padding: var(--Global-spacing-5xl, 40px) var(--Global-spacing-8xl, 80px);
  align-items: flex-start;
  gap: 199px;
  align-self: stretch;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.Ps-Description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-xl, 16px);
  align-self: stretch;
}

.Ps-Content {
  display: flex;
  align-items: flex-end;
  gap: var(--Global-spacing-4xl, 0px); /*changed from 32px*/
  align-self: stretch;
}

.Ps-Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-md, 8px);
  flex: 1 0 0;
}

.Ps-Button {
  display: flex;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: var(--Global-spacing-none, 0) var(--Button-buttons-lg-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-buttons-lg-gap, 4px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--Button-button-background-primary-default, #1b8354);
  color: var(--Text-text-oncolor-primary, #fff);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 15px); /*changed from 16px*/
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
  border: none;
  margin-bottom: 35px; /*Added by me*/
}

.Ps-Breadcrumb {
  display: flex;
  padding: var(--Global-spacing-none, 0);
  align-items: flex-start;
  gap: var(--Global-spacing-none, 0);
  min-width: 577px; /*changed from 600px*/
}

.Ps-Serivce-Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
}

.Ps-_Breadcrumb-Item {
  display: flex;
  padding-right: var(--Link-link-sm-gap, 4px);
  align-items: center;
  gap: var(--Link-link-sm-gap, 4px);
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-sm, 20px);
}

.Ps-_Breadcrumb-Item-Text {
  color: var(--Grays-Gray-2, var(--Grays-Gray-2, #aeaeb2));
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-sm, 20px);
}

.Ps-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Ps-arrow svg {
  width: 6px;
  height: 12px;
}

.Ps-T_Title {
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-display, "IBM Plex Sans Arabic");
  font-size: var(--Size-Display-typo-size-display-sm, 30px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Line-Height-Display-line-heights-display-sm, 38px);
}

.Ps-T-Description {
  width: 720px;
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

/* .Ps-Link {
  display: flex;
  padding: var(--Global-spacing-none, 0);
  align-items: center;
  gap: var(--Link-link-md-gap, 8px);
  color: var(--Link-link-primary, #1b8354);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
} */

.Ps-PDF-Img {
  width: 16.253px;
  height: 17.917px;
  flex-shrink: 0;
  fill: var(--Link-link-icon-primary-focused, #1b8354);
}

.Ps-Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-3xl, 24px);
  align-self: stretch;
  background-color: white;
  position: relative;
  z-index: 0;
  padding: var(--Global-spacing-3xl, 24px) 0;
}

.Ps-Info::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw + 600px);
  background: #fff;
  z-index: -1;
  pointer-events: none;
}

.Ps-Hor-Tab-List {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-left: -15px;
}

.Ps-Hor-Tab {
  display: flex;
  padding: var(--Tab-horizontal-tab-md-button-v-padding, 12px) var(--Tab-horizontal-tab-md-button-h-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Tab-tab-button-gap, 4px);
  border-radius: var(--Radius-radius-sm, 4px);
  color: var(--Text-text-primary-paragraph, #384250);
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  font-family: "IBM Plex Sans Arabic";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.Ps-Hor-Tab:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.Ps-Hor-Tab:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

.Ps-Hor-Tab--active {
  color: var(--Text-text-default, #161616);
  font-weight: 700;
}

.Ps-Hor-Tab--active::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 4px;
  height: 3px;
  border-radius: 999px;
  background: var(--Button-button-background-primary-default, #1b8354);
}

.Ps-Steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-xl, 16px);
  align-self: stretch;
}

.Ps-List-Item {
  display: flex;
  padding: var(--Global-spacing-none, 0);
  align-items: center;
  gap: var(--Global-spacing-md, 8px);
}

.Ps-Tab-Panel {
  width: 100%;
}

.Ps-Tab-Panel-Body {
  display: flex;
  flex-direction: column;
  gap: var(--Global-spacing-lg, 12px);
  padding-top: var(--Global-spacing-xl, 16px);
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Tab-List {
  margin-top: var(--Global-spacing-md, 8px);
  margin-bottom: var(--Global-spacing-md, 8px);
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: var(--Global-spacing-xs, 4px);
}

.Ps-Tab-List--bulleted {
  list-style: disc;
}

.Ps-Tab-List li {
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-T-Steps-Num {
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-T-Steps-Text {
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Info-Card {
  display: flex;
  width: 416px;
  padding: var(--Global-spacing-5xl, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-3xl, 24px);
  border-radius: var(--Radius-radius-lg, 16px);
  border: 1px solid var(--Border-border-background-neutral, #d2d6db);
  background: var(--Background-background-white, #fff);
  position: relative;
  z-index: 2;
}

.Ps-IC-Service-Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-xl, 16px);
  align-self: stretch;
}

.Ps-IC-SI-Content {
  display: flex;
  align-items: flex-start;
  gap: var(--Global-spacing-md, 8px);
  align-self: stretch;
}

.Ps-User {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1.25px 2.25px;
  justify-content: center;
  align-items: center;
}

.Ps-Icon {
  width: 19.5px;
  height: 21.5px;
  flex-shrink: 0;
}

.Ps-Inner-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-xs, 4px);
  flex: 1 0 0;
}

.Ps-Inner-Content-T1 {
  align-self: stretch;
  color: var(--Text-text-display, #1f2a37);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Inner-Content-T2 {
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  gap: var(--Global-spacing-xs, 4px);
  color: var(--Text-text-display, #1f2a37);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
  color: var(--Link-link-primary, #1b8354);
}

.Ps-Inner-Content-T2-Blk {
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  gap: var(--Global-spacing-xs, 4px);
  color: var(--Text-text-display, #1f2a37);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
  /* color: var(--Link-link-primary, #1b8354); */
}

.Ps-Line-1 {
  width: 336px;
  height: 1px;
  background: var(--Border-border-neutral-primary, #d2d6db);
}

.Ps-Contact-Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-xl, 16px);
  align-self: stretch;
}

.Ps-Inner-Content-Lower {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-xs, 4px);
  flex: 1 0 0;
}

.Ps-Inner-Content-Lower-T1 {
  align-self: stretch;
  color: var(--Text-text-display, #1f2a37);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-Ig, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Line-Height-Text-line-heights-text-Ig, 28px);
}

.Ps-Inner-Content-Lower-T2 {
  display: flex;
  padding: var(--Global-spacing-none, 0);
  align-items: center;
  gap: var(--Link-link-md-gap, 8px);
  color: var(--Link-link-primary, #1b8354);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Inner-Content-Lower-T2-Img {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 1.875px;
  justify-content: center;
  align-items: center;
}

.Ps-Service-2 {
  display: flex;
  padding: var(--Global-spacing-5xl, 40px) var(--Global-spacing-8xl, 80px);
  align-items: flex-start;
  gap: 199px;
  align-self: stretch;
  background: var(--Background-background-primary-25, #f7fdf9);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.Ps-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Global-spacing-3xl, 24px);
  flex: 1 0 0;
  overflow: visible;
}

.Ps-Section-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Global-spacing-xl, 16px);
  align-self: stretch;
}

.Ps-Frames {
  display: flex;
  padding-right: 10px;
  align-items: flex-start;
  gap: 24px;
  will-change: transform;
  transition: transform 400ms ease;
  align-self: stretch;
  justify-content: flex-start;
  margin: 0 auto;
  min-width: 1280px;
}

.Ps-Service-Card {
  display: flex;
  width: 420px;
  padding: var(--Global-spacing-xl, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Card-card-lg-gap, 24px);
  border-radius: var(--radius-lg, 16px);
  border: 1px solid var(--Border-border-neutral-primary, #d2d6db);
  background: var(--Background-background-card, #fff);
  scroll-snap-align: start;
}

.Ps-Service-Card:hover {
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.05),
    0 -1px 1px 0 rgba(255, 255, 255, 0.1) inset,
    0 1px 1px 0 rgba(255, 255, 255, 0.25) inset;
  backdrop-filter: blur(50px);
}

.Ps-Serivice-Card-Icon-Div {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full, 9999px);
  background: var(--Icon-Bg-icon-brand-light, #f3fcf6);
}

.Ps-Serivice-Card-Icon-Div-Inner {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1.25px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.Ps-Serivice-Card-Icon {
  width: 21.5px;
  height: 21.5px;
  flex-shrink: 0;
}

.Ps-Service-Card-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-md, 8px);
  align-self: stretch;
}

.Ps-Service-Card-Content-T1 {
  color: var(--Text-text-display, #1f2a37);
  font-family: "IBM Plex Sans Arabic";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.Ps-Service-Card-Content-T2 {
  color: var(--Text-text-display, #1f2a37);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Ps-Service-Card-Tag {
  display: flex;
  height: 24px;
  padding: var(--Global-spacing-none, 0) var(--Global-spacing-md, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Global-spacing-xs, 4px);
  border-radius: var(--radius-sm, 4px);
  border: 1px solid var(--Tag-tag-border-success-light, #abefc6);
  background: var(--Tag-tag-background-success-light, #ecfdf3);
  color: var(--Tag-tag-text-success, #085d3a);
  text-align: center;
  font-family: "IBM Plex Sans Arabic";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.Ps-Service-Card-Button {
  display: flex;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: var(--Global-spacing-none, 0) var(--Button-buttons-lg-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-buttons-lg-gap, 4px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--Button-button-background-primary-default, #1b8354);
  color: var(--Text-text-oncolor-primary, #fff);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
}

.Ps-Section-Content-Title-T {
  align-self: stretch;
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-display, "IBM Plex Sans Arabic");
  font-size: var(--Size-Display-typo-size-display-sm, 30px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Line-Height-Display-line-heights-display-sm, 38px);
}

.Ps-Section-Content-Desc-T {
  width: 720px;
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Controls-Container {
  display: flex;
  padding: var(--Global-spacing-lg, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--Global-spacing-md, 8px);
  border-radius: var(--Radius-radius-full, 9999px);
  width: 100%;
  margin: 0 auto;
  margin-left: -250px;
}

.Ps-Carousal {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Ps-Carousal-Img {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--Background-background-neutral-200, #e5e7eb);
  transition: background 0.3s ease;
}

.Ps-Carousal-Img.active {
  background: var(--Button-button-background-primary-default, #1b8354);
}

.Ps-Comments-N-Suggestons {
  display: flex;
  padding: var(--Global-spacing-5xl, 40px) var(--Global-spacing-8xl, 80px);
  align-items: flex-start;
  gap: var(--Global-spacing-4xl, 32px);
  align-self: stretch;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.Ps-CnS-Card {
  display: flex;
  padding: var(--Global-spacing-xl, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Card-card-lg-gap, 24px);
  flex: 1 0 0;
  min-width: 1280px;
  border-radius: var(--radius-lg, 16px);
  border: 1px solid var(--Border-border-neutral-primary, #d2d6db);
  background: var(--Background-background-card, #fff);
}

.Ps-Cns-Card-Icon-Div {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full, 9999px);
  background: var(--Icon-Bg-icon-brand-light, #f3fcf6);
}

.Ps-CnS-Card-Icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1.25px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.Ps-CnS-Card-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Global-spacing-md, 8px);
  align-self: stretch;
}

.Ps-CnS-Card-Content-T1 {
  color: var(--Text-text-display, #1f2a37);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-Ig, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Line-Height-Text-line-heights-text-Ig, 28px);
}

.Ps-CnS-Card-Content-T2 {
  color: var(--Text-text-display, #1f2a37);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Cns-Card-Actions {
  display: flex;
  align-items: flex-start;
  gap: var(--Global-spacing-xl, 16px);
  align-self: stretch;
}

.Ps-CnS-Card-Button {
  display: flex;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: var(--Global-spacing-none, 0) var(--Button-buttons-lg-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-buttons-lg-gap, 4px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--Button-button-background-primary-default, #1b8354);
  color: var(--Text-text-oncolor-primary, #fff);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
  border: none;
}

.Ps-Modified-Date {
  display: flex;
  padding: var(--Global-spacing-xl, 16px) var(--Global-spacing-8xl, 80px);
  align-items: center;
  gap: var(--Global-spacing-md, 8px);
  align-self: stretch;
}

.Ps-Modified-Date-T {
  max-width: 1280px;
  flex: 1 0 0;
  color: var(--Text-text-default, #161616);
  text-align: right;
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-sm, 20px);
  margin-left: 180px;
}

.Ps-Rating {
  display: flex;
  width: 100%;
  height: 88px;
  padding: var(--Global-spacing-3xl, 24px) var(--Global-spacing-8xl, 80px);
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--Border-border-primary, #1b8354);
  background: var(--Background-background-white, #fff);
  border-bottom: 2px solid var(--Border-border-primary, #1b8354);
}

.Ps-Rating-body {
  display: flex;
  max-width: 1280px;
  align-items: center;
  gap: var(--Global-spacing-xl, 16px);
  flex: 1 0 0;
  margin-left: 170px;
}

.Ps-Rating-Content {
  display: flex;
  align-items: center;
  gap: var(--Global-spacing-3xl, 24px);
  flex: 1 0 0;
  margin-left: 0;
}

.Ps-Rating-Content-Left-Text-T {
  color: var(--Text-text-default, #161616);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Ps-Rating-Content-Left-Digit-T {
  color: var(--Text-text-default, #161616);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--Text-text-default, #161616);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.Ps-RatingStar {
  display: flex;
  align-items: flex-start;
  gap: var(--Global-spacing-xs, 4px);
}

.Ps-Star {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.Ps-Rating-Content-Right-T {
  color: var(--Text-text-secondary-paragraph, #6c737f);
  font-family: "IBM Plex Sans Arabic";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 2.5px;
}

.Ps-Rating-Actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
}

.Ps-Rate-Tag {
  display: flex;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: var(--Global-spacing-none, 0) var(--Button-buttons-lg-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-buttons-lg-gap, 4px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--Button-button-background-primary-default, #1b8354);
  color: var(--Text-text-oncolor-primary, #fff);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.Ps-Feedback {
  display: flex;
  width: 100%;
  height: 88px;
  padding: 24px 80px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1200px) {
  .Ps-Rating,
  .Ps-Feedback {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .Ps-Serivce {
    gap: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .Ps-Service-2 {
    gap: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 900px) {
  .Ps-Serivce {
    flex-direction: column;
    gap: 40px;
  }

  .Ps-Info-Card {
    width: 100%;
  }

  .Ps-Section-Content-Desc-T,
  .Ps-T-Description {
    width: auto;
    max-width: 100%;
  }

  .Ps-Frames {
    gap: 16px;
  }

  .Ps-Service-Card {
    width: 82vw;
    max-width: 420px;
  }

  .Ps-Controls-Container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .Ps-Rating,
  .Ps-Feedback {
    height: auto;
    padding: 16px 20px;
  }

  .Ps-Rating-body,
  .Ps-Feedback-Section {
    gap: 12px;
  }

  .Ps-Button,
  .Ps-Service-Card-Button,
  .Ps-CnS-Card-Button,
  .Ps-choice,
  .Ps-Rate-Tag {
    height: 36px;
    min-height: 36px;
    max-height: 36px;
  }
}

.Ps-Feedback-Section {
  display: flex;
  max-width: 1280px;
  align-items: center;
  gap: var(--Global-spacing-xl, 16px);
  flex: 1 0 0;
  margin-left: 170px;
}

.Ps-Feedback-Section-Content {
  display: flex;
  align-items: center;
  gap: var(--Global-spacing-3xl, 24px);
  flex: 1 0 0;
}

.Ps-Content-Text {
  color: var(--Text-text-default, #161616);
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

.Ps-Content-Actions {
  display: flex;
  align-items: center;
  gap: var(--Global-spacing-xl, 16px);
}

.Ps-choice {
  display: flex;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: var(--Global-spacing-none, 0) var(--Button-buttons-lg-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-buttons-lg-gap, 4px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--Button-button-background-primary-default, #1b8354);
  color: var(--Text-text-oncolor-primary, #fff);
  font-family: "IBM Plex Sans Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
}

.Ps-Feedback-Section-Text {
  flex: 1 0 0;
  color: var(--Text-text-default, #161616);
  text-align: right;
  margin-left: -170px;
  font-family: var(--Font-Family-font-family-text, "IBM Plex Sans Arabic");
  font-size: var(--Size-Text-typo-size-text-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-sm, 20px);
}

.Ps-Footer-Above {
  background-color: white;
}

/* .Ps-Service-2-Margin-L {
  Additional margin class if needed
} */